*{
    margin: 0px;
    padding: 0px;
    background: lightblue;
}
nav{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 3rem;
}
div ul li a{
align-items: center;
text-decoration: dashed;
pointer-events: visible;
display: flex;
text-align: center;
flex-direction: row;
color: bisque;
padding-top: 0rem;
transition: .3 ease-in-out;
font-size: 1.4rem;

}
div ul li a:hover{
   
    text-decoration: dashed;
    pointer-events: visible;
    display: flex;
    text-align: center;
    flex-direction: row;
    color: red;
    padding-top: 0rem;
    transition: .5s ease-in-out;
    
    }

h1{
    color: darkgreen;
}

section footer{
    margin-top: 6rem;
    font-weight: bold;
    text-align: center;
    background-color: green;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

img{
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
}


img #win{
    padding: 1rem;
    border-radius: 2rem;
    align-items: center;
}

div p{
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
